*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#body{
    font-family: 'Roboto', sans-serif;
}
/* Utility Classes */
.btn-primary{
    background: #1DB954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover{
    background: #1ed760;
    cursor: pointer;
}

/* NavBar */
#navbar{
    display: flex;
    background-color: rgba(0, 0, 0, 0.6) ;
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
    
}
#navbar .navbar-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

#navbar .navbar-container .logo{
    height: 40px;
    width: auto;
}
#navbar .navbar-container ul{
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li{
    padding: 0 20px;
    transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover{
    color:#1DB954;
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(1){
    border-right: 1px solid white;
    
}

/* ShowCase */
.showcase{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
color:rgb(255, 255, 255);
background: url('img/1665544560591.jfif') center;
background-color: (0, 0, 0, 0, 0.4); 
background-blend-mode: color;
background-size: cover;
}

.showcase .showcase-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.showcase .showcase-container h2{
    font-size: 5rem;
}

.gif{
    display: table-cell;
    float: left;
}

